version: 2.1

jobs:
  cypress-tests:
    docker:
      - image: cypress/base:16
    steps:
      - checkout
      - run: npm ci
      - run: npx cypress run --spec "cypress/e2e/login.cy.ts"
      - store_artifacts:
          path: cypress/videos
      - store_artifacts:
          path: cypress/screenshots

workflows:
  version: 2
  test:
    jobs:
      - cypress-tests